.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: row;
  padding-right: 16px;
  /* padding: 10px 16px 10px; */
  width: 100%;
}

.logo {
  color: white;
}

.header-item {
  color: white;
  padding: 4px 8px;
  margin: 0px 16px 16px 0px;
  text-decoration: none;
  
}

.header-item:hover {
  cursor: pointer;
  background-size: 0 2px, 100% 2px;
}

.horizontal-div {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  padding: 4px 24px;

}

.userImg {
  border-radius: 50%;
  background: white;
  width: 2rem;
  height: 2rem;
}