.formAddMovie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .formAddMovie input {
    border-radius: 6px;
    padding: 4px;
    outline: none;
  }
  .formAddMovie textarea {
    border-radius: 6px;
    padding: 4px;
    outline: none;
    resize: none;
    overflow: auto;
  }
  
  .formAddMovie button {
    margin-top: 1rem;
    border-radius: 6px;
    padding: 6px;
    width: max-content;
    background: rgb(9, 65, 114);
    border: none;
    color: white;
    transition: 0.6s;
  }
  
  .formAddMovie button:hover {
    background: rgb(17, 118, 206);
  }